{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/atualizacao_realizada.css' %}">

</head>
<body>
    <aside class="menu">
        <section class="main-content menu-content">
            <h1><a href="/"><img id="logo" src="../static/img/logo.png" alt=""></a></h1>
        </section> 
    </aside>
    <div class="form-container">
        <h1>Atualização Realizada com sucesso</h1>
        <a href="/area_restrita" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Voltar</a>

    </div>
    <footer>
        <section class="fale-conosco-footer">
            <h3>Fale Conosco</h3>
            <p>Tel: (81) 99999.9999</p>
            <p>Email: techinclude@techinclude.com</p>   
        </section>
        <p>&copy; 2023 por TechInclude. Todos os direitos reservados.</p>
    </footer>
</body>
</html>