{% load crispy_forms_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/atualizar_funcao_id.css' %}">


</head>
<body>
    <div class>
        <h1>Editando: {{query.nome}}</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary">
            <a href="/atualizar_pessoas" class="btn btn-outline-secondary btn-sm" role="button" aria-pressed="true">Voltar</a>
        </form>
    </div>
</body>
</html>