<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bf0ea5feaf904e6c58d6be51fed6e7de {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_bf0ea5feaf904e6c58d6be51fed6e7de" ></div>
        
</body>
<script>
    
    
            var map_bf0ea5feaf904e6c58d6be51fed6e7de = L.map(
                "map_bf0ea5feaf904e6c58d6be51fed6e7de",
                {
                    center: [-8.065309285251871, -34.87546848764933],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_438cc4a70dc3bd996e66a31328e9c466 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
            var marker_c22fbf0b1af06665eef8753e34667d44 = L.marker(
                [-8.062239081640264, -34.872946015870745],
                {}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
        var popup_3ac1846f7d07e07a8a9e38a4c5cd95bd = L.popup({"maxWidth": "100%"});

        
            
                var html_d8fbe3c0240a11d7171580d2beaceaa6 = $(`<div id="html_d8fbe3c0240a11d7171580d2beaceaa6" style="width: 100.0%; height: 100.0%;">João</div>`)[0];
                popup_3ac1846f7d07e07a8a9e38a4c5cd95bd.setContent(html_d8fbe3c0240a11d7171580d2beaceaa6);
            
        

        marker_c22fbf0b1af06665eef8753e34667d44.bindPopup(popup_3ac1846f7d07e07a8a9e38a4c5cd95bd)
        ;

        
    
    
            var marker_99445e0981076b17ec2d3debe2f6d2da = L.marker(
                [-8.061759038596875, -34.87198272589995],
                {}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
        var popup_d3b799e3344a21098298c76cad314fe4 = L.popup({"maxWidth": "100%"});

        
            
                var html_a72b799efeb8061593180cab2c39a4f0 = $(`<div id="html_a72b799efeb8061593180cab2c39a4f0" style="width: 100.0%; height: 100.0%;">Bob</div>`)[0];
                popup_d3b799e3344a21098298c76cad314fe4.setContent(html_a72b799efeb8061593180cab2c39a4f0);
            
        

        marker_99445e0981076b17ec2d3debe2f6d2da.bindPopup(popup_d3b799e3344a21098298c76cad314fe4)
        ;

        
    
    
            var marker_11cedcbb26aeaa6e40172fc395d57f92 = L.marker(
                [-8.063755003260471, -34.87204014054977],
                {}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
        var popup_f0ba3c28e0f8dcd4559051cfedbee901 = L.popup({"maxWidth": "100%"});

        
            
                var html_08ebf5d3d9fee952e919406d0059943f = $(`<div id="html_08ebf5d3d9fee952e919406d0059943f" style="width: 100.0%; height: 100.0%;">Carlos</div>`)[0];
                popup_f0ba3c28e0f8dcd4559051cfedbee901.setContent(html_08ebf5d3d9fee952e919406d0059943f);
            
        

        marker_11cedcbb26aeaa6e40172fc395d57f92.bindPopup(popup_f0ba3c28e0f8dcd4559051cfedbee901)
        ;

        
    
    
            var marker_789bf4b8a21464fe0c583aa9544c0b26 = L.marker(
                [-8.061367393116628, -34.871332339590516],
                {}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
        var popup_3158b92dc3f9abe5c65791c707fb9baf = L.popup({"maxWidth": "100%"});

        
            
                var html_f34f7cff91ac42607e484f55d1567dcb = $(`<div id="html_f34f7cff91ac42607e484f55d1567dcb" style="width: 100.0%; height: 100.0%;">José</div>`)[0];
                popup_3158b92dc3f9abe5c65791c707fb9baf.setContent(html_f34f7cff91ac42607e484f55d1567dcb);
            
        

        marker_789bf4b8a21464fe0c583aa9544c0b26.bindPopup(popup_3158b92dc3f9abe5c65791c707fb9baf)
        ;

        
    
    
            var marker_9ac74dc8c648049835bd325e20fac360 = L.marker(
                [-8.060571176841602, -34.87061542173186],
                {}
            ).addTo(map_bf0ea5feaf904e6c58d6be51fed6e7de);
        
    
        var popup_fba16f3f07480d34b9394e61ea41bac9 = L.popup({"maxWidth": "100%"});

        
            
                var html_96539a3d10774ae6d0841eeaa9e08db1 = $(`<div id="html_96539a3d10774ae6d0841eeaa9e08db1" style="width: 100.0%; height: 100.0%;">Flavio</div>`)[0];
                popup_fba16f3f07480d34b9394e61ea41bac9.setContent(html_96539a3d10774ae6d0841eeaa9e08db1);
            
        

        marker_9ac74dc8c648049835bd325e20fac360.bindPopup(popup_fba16f3f07480d34b9394e61ea41bac9)
        ;

        
    
</script>
</html>