:root{
    --color-blue: rgb(0, 27, 46);
    --color-white: #DBE0E7;
    --color-orange: #FFA630;
    --color-transparent: rgb(0, 27, 46);
    --color-ligth-grey: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--color-white);
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

/* Menu Cadastramento */

#logo{
    width: 300px;
}

.menu{
    background: #001B2E;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--color-ligth-grey);
    
}

.main-content{
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}




/* Footer */

footer{
    background-color: var(--color-white);
    color: var(--color-blue);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fale-conosco-footer{
  text-align: center;
  background-color: var(--color-white);
  color: var(--color-blue);
  
  
}

/* Formulário */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 150px; 
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
  }

  .form-container h2{
    color: var(--color-blue);
    text-align: center;
    padding: 20px;
    
  }

   
  .form-group {
    margin-bottom: 20px;
  }


  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
    border: none;
    transition: all 200ms ease-in-out;

  }

  .btn-outline-secondary {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #555;
  }
  
  .btn-sm {
    font-size: 12px;
  }
  

  
